<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - BloGGz</title>
</head>
<body>
    <h1>BloGGz</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        <li>{{ messages[-1] }}</li>
    </ul>
    {% endif %}
    {% endwith %}
    <h3>Hello {{ user_data.full_name.split()[0] }}!</h3>
    <a href="/all_blogs"><button>Show my blogs</button></a>
    <br>
    <a href="/all_posts"><button>Show my posts</button></a>
    <br>
    <a href="/logout"><button>Logout</button></a>

    <!-- <form action="#" method="post">
        <input type="submit" value="Create a blog">    
    </form> -->
</body>
</html>